
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family:"IntroScript";
  src: url("Assets/Fonts/IntroScript/IntroScript/Non-commercial/TTF/IntroScript-Trial-Black.ttf") format("truetype");
}
@font-face {
  font-family:"MultiColore";
  src: url("Assets/Fonts/Multicolore/Multicolore/Commercial/TTF/Multicolore-Regular.ttf") format("truetype");
}

/* IMPLEMENT ANIMATIONS */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes comeAndFadeIn {
    0% {
        opacity: 0;
        position: fixed;
    }

    100%{
        opacity: 1;
        position: inherit;
    }
}

@keyframes win {
    0%{
        color:bisque;
        font-size: 8em;
    }
    100%{
        font-size: 9em;
        color:greenyellow;
    }
}

@keyframes lose {
    0%{
        color:bisque;
        font-size: 8em;
    }
    100%{
        font-size: 7em;
        color:red;
    }
}

@keyframes tie {
    0%{
        color:bisque;
        
    }
    100%{
        color:#303030;
    }
}

@keyframes lose-status{
   0%{
        border-color:orange;
   }
   100%{
        border-color:red;
   } 
}
@keyframes tie-status{
    0%{
        border-color:orange;
   }
   100%{
        border-color:#303030;
   }    
}
@keyframes win-status{
     0%{
        border-color:orange;
   }
   100%{
        border-color:greenyellow;
   }   
}



html{
    margin :0;
    padding: 0;;
}
*{
    margin: inherit;
    padding: inherit;
}

body{
    margin:0;
    background-color: #303030;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    display:flex;
    flex-direction: column;

    align-items:center;
    justify-content: center;
    gap:20px;
}

/* add some hover action too!!  */

h1{
    font-family: 'IntroScript', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: bisque;
    font-size: 8em; 
}
p{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 2em;
    color:cornsilk;
    border: 1px solid orange;
}
textarea{
    resize: none;
    border-radius: 15px;
    border: 2px dashed beige;
    background-color: #303030;
    font-family: 'MultiColore', 'Helvetica Neue', Helvetica Neue, sans-serif;
    padding: 10px;
    color:cornsilk;
    text-align: center;
    font-size: 1.5em;
    width:inherit;

}
textarea:focus{
    outline: none;
}
span{
    color:bisque;
    padding: 10px;
    border-radius: 20px;
    position: relative;
}
.dropdownContainer{
    background-color: #404040;
    border-radius:20px;
    width:80%;
    z-index: 1;
    padding: 10px;

    /* animation: fadeIn ease 1.4s */
}